<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	Daniel Allen, EIT, LSIT, <br />
	Daniel has over 10 years experience working in the Civil Engineering/Land Surveying Industry. <br />
	Daniel has 3 years experience working in the web-based business application field, most recently as part of the team that produced the ProEdge line of Software for Zodiac International.
</p>

<p>
	Jennifer Allen <br />
	Jennifer has many years experience working the high-paced world of office support, primarily as a legal secretary and document prep specialist.
</p>

<p>
	We decided to bring our vast experience together to produce a web-based universally accessable portal to help ytou manage your business's document tracking needs.
</p>
