<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h2> Daniel Allen, EIT, LSIT</h2>
<p>
	
	Daniel has over 10 years experience working in the Civil Engineering/Land Surveying Industry. <br />
	Daniel has 3 years experience working in the web-based business application field, most recently as part of the team that produced the ProEdge&trade; line of Software for Zodiac International.
</p>
<h2>Jennifer Allen</h2>
<p>
	
	Jennifer has many years experience working the fast-paced world of office support, primarily as a legal secretary and document prep specialist.
</p>
<h2>DraftingDan.com</h2>
<p>
	We decided to bring our vast experience together to produce a web-based universally accessable portal to help you manage your business's document tracking needs.
</p>
