<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
 	Support@draftingdan.com <br />
	daniel@draftingdan.com <br />
	jennifer@draftingdan.com <br />
	questions@draftingdan.com <br />
	docucenter@draftingdan.com <br />
</p>