<div class="center hero-unit">
  <h1>DraftingDan.com</h1>
  <%= image_tag("DDlogo.png", alt: "DraftingDan.com - Projects Automated", height: 300) %> <br /> <br />
  <h2>
    Project Design: Automated
  </h2>
  <p>
  	Our business is helping your business run better.
  </p>


</div>

