<% provide(:title, 'DocuCenter - Main') %>
<h1>DocuCenter.DraftingDan.com</h1>
<p>
	Welcome to the web-based, universally accessable project document control center.<br />
	Project Document Control for the 21st century! 
</p>
