
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <h2>My background</h2>
    <p>
      Before I got into IT and Web Development I started out working in the Civil Engineering and Land Surveying field. 
      I spent 10 years learning and practicing project design and management on construction projects. 
      Projects where a mistake in the design could mean millions of dollars to fix in the field.
      Projects where a failure to fully understand your constraints and environment could cost millions of dollars in the courthouse.
      Projects where people's lives would be impacted by, or even on the line due to, the attention to detail 
          in the design and construction phases.
      Because of these factors in the projects involved, all in the Egineering profession are required to learn, understand, and apply
          a code of ethics, to always do the best job you can, and only do jobs you can do. I carry these ethics with me today.
    </p>
      <h2>What this means for you</h2> 
    <ul>
      <li>I will always act with integrity and ethics as a professional.</li>
      <li>I will make sure that we both understand what problem we are trying to solve, before spending time or money on the solution.</li>
      <li>I will make sure the business issues are addressed correctly and quickly.</li>
      <li>If I cannot do the job you requested, I will tell you, and I will help you find someone else who can do it.</li>
      <li>I will make the best project estimate that I can, and then I will honor that estimate. </li>
      <li>No hidden fees!</li>
    </ul>
  </div>
</div>