<div class="center jumbotron">
  <h1>Daniel Allen - Web Project Consltant</h1>

  <p>
    In today's business environment, if you don't have a web presence you will disappear. 
    Everyone is looking to make their life a little less busy, so that means looking for service providers who offer online services, 
      such as appointment setting, online billpay, or automated notifications.
    Businesses are looking for ways to speed up their cash flow, with automated invoicing, work completion notification, 
      or electronic payment integration.
  </p>
  <p>
    I have focused on finding ways to streamline workflow with a number of businesses, across wide range of industries, since 2010.
    Ever since 2010 my focus has been on using web solutions to help businesses improve their workflow, 
      and subsequently their cash flow..
    
  </p>
  <a href="mailto:daniel@draftingdan.com?subject=request for help" class="btn btn-lg btn-primary">Let me help you.</a>
  
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <h2>Web Project Planning</h2>
    <p>
      There are a thousand solutions out there. Which one actually meets your unique business needs? 
      You are busy running your business, you don't have the time to sort through the thousands of options.
    </p>
      <h3>Let me help you.</h3> 
    <p>
      I have already looked at most of the options, and I have seen them applied across a wide range of business needs.
      A project roadmapping session will allow me to help review exactly what business need you are trying to solve. 
      I will provide a complete breakdown of what you are looking for, and what the options have to deliver to meet your needs.
      This breakdown can then be used to help you select your next move with confidence.
    </p>
  </div>
  <div class="col-md-4 col-sm-12">
    <h2>Web Project Management</h2>
    <p>
      You have a business to run, and keeping it growing is your number one focus. 
      You have decided that your continued growth will require a project to enhance your web presence.
      With all you have to do, how will you find time to make sure that the project stays on track and provides what you need?
    </p>
      <h3>Let me help you.</h3>
    <p>
      I have been tracking and coordinating projects, across a wide range of industries, since 2000.
      I can review the project status deliverables, and provide a complete executive summary on your schedule, so you can feel confident about your investment.
      
    </p>     
  </div>
  <div class="col-md-4 col-sm-12">
    <h2>Custom Web Application Development</h2>
    <p>
      You have looked at your business needs and you know that the only option for your business is a custom web application.
      You need a professional solution that will keep your data secure, and will allow you to work with it from anywhere.
      How will you find a professional, who is experienced, and knows exactly what you need?
    </p>
    <h3>Let me help.</h3>
    <p>
      I have been building and maintaining large, secured, business driven web applications since 2010.
    </p>
  </div>
</div>
