<div class="center jumbotron">
  <h1>Allens, LLC</h1>

  <p>
    This is the home page for the business we are using to support our family as we travel.
  </p>
  <p>
    Here are some of the information and services we have to offer.
  </p>
</div>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <h2>Helping English Language Learners</h2>
    <h3>Education Station</h3>
    <p>
      We have three certified TEFL and TESOL teachers willing and wanting to help you learn the English language. 
    </p>
    <p>
      We also offer proofreading and and editing of professional documents, signs, menus, etc.
    </p>
  </div>
  <div class="col-md-4 col-sm-12">
    <h2>Developing Web Applications</h2>
    <h3>draftingdan</h3>
    <p>
      Our services include maintaining and extending existing web applications and building new custom web applications.
    </p>
  </div>
  <div class="col-md-4 col-sm-12">
    <h2>Blogging About Our Travels</h2>
    <h3><a href="https://theforeverjourneysite.wordpress.com/">The Forever Journey</a></h3>
    <p>
      Come and travel with us, or at least read about where we are going.
    </p>
    <h3><a href="https://alliedartblog.wordpress.com/">Allied Arts</a></h3>
    <p>
        See the art inspired by our journey through life.
    </p>
  </div>
</div>
