
<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    
    <meta name="google-site-verification" content="ltp7kySSiCbJmbA3bncJ-kUtGIwVRLT9f7upFqTRv6Y" />
	  <meta name="google-site-verification" content="wydP_Ex38DYX_P3VJGg6Xt6h4ZIxl4XJfEtj4wPaZ0A" />
    <meta content="COPYRIGHT © 2016 Daniel Allen" name="author">
    <meta content="index,follow,archive" name="robots">
    <meta content="index, follow" name="googlebot">
    <meta content="professional,services,web design,app,applicaion development,project management,web project planning" name="keywords">
    <meta content="Daniel Allen - Web Project Consultant." name="description">
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34080132-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script> 
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Application CSS -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <!-- Application JS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <!--<span class="icon-bar"></span>-->
            <span class="icon-bar"></span>
            <!--<span class="icon-bar"></span>-->
          </button>
          <a class="navbar-brand" href="/">Daniel Allen</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <!--<li class="active"><a href="/webdev">What I do</a></li>-->
            <li class="active"><a href="/about">About</a></li>
            <!--<li class="active"><a href="/contact">Let Me Help</a></li>-->
          </ul>
          <p class="navbar-text pull-right">
        </div>
      </div>
    </nav>
    <div class="container" id="mainContainer">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
       &copy;2010 - <script>document.write(new Date().getFullYear())</script> Daniel Allen 
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.js"></script>
  </body>
</html>