<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    &nbsp; &nbsp; <%= link_to "DraftingDan.com", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "DocuCenter",  docucenter_path %></li>
          <li><%= link_to "Sign in", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>